
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

img {
    max-width:100%;
    height:auto;

}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: light-300;
  font-style: normal;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

:root {

}
body {
    /*background-image: linear-gradient(to bottom, #BFC6C4, #9CAB84, black);*/
    background-image: url(images/tree2.png);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

}

html, body {
  height: 100%;
}

.intro{
    height:100%;
    display: flex;
    flex-direction: column;
      justify-content: center;
      align-items: center;
}

.grid-home {
      display: grid;
      row-gap: 20px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 5% 35% 50% 10%;
      grid-template-areas:
      "header header header header header header"
          "text text text image image image"
          "card1 card1 card2 card2 card3 card3"
          "footer footer footer footer footer footer";
    }
    .header {
        grid-area: header;
    }
    .top-text-left {
        grid-area: text;
        justify-self:center;
        align-self:center;

    }
    .top-img-right-container {
        grid-area: image;
        width:100%;
        height:auto;
    }

    .card1{
        grid-area: card1;
    }
    .card2{
        grid-area: card2;
    }
    .card3{
        grid-area: card3;
    }
    .footer {
        grid-area: footer;
    }


.grid-about {
      display: grid;
      width: 100%;
        min-height: 100vh;
      grid-template-columns: auto;
      grid-template-rows: 10% 20% 70%;
      grid-template-areas:
        "header"
        "empty"
        "about";
    }

    .empty{
        grid-area: empty;
    }

    .grid-contact {
          display: grid;
          width: 100%;
            min-height: 100vh;
          grid-template-columns: auto;
          grid-template-rows: 10% 20% 70%;
          grid-template-areas:
            "header"
            "empty"
            "contact-form";
        }
.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
}

.header-left{
    display: flex;
    flex-direction: row;
    align-items:center;
    flex:50%;
}

.header-right{
    justify-content: flex-end;
}


.top-text-left {
    text-align: center;
}

.top-img-right {
    border-radius:4em;
}

.top-img-right-container{
    display:flex;
    justify-content: flex-end;
}
h2 {
    padding: 8px;
}

p {
    padding: 4px;
}

.examples-h1 {
    text-align: center;
}

.container {
    width: 90%;
    height:100%;
    background-color: #E8E2D8;
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "card-image"
      "card-text"
      "card-button"
      "empty-card-bottom";
}

.card-image{
    grid-area: card-image;
}

.card-text{
    grid-area: card-text;
}

.card-button {
    grid-area: card-button;
    align-self:end;
}
.empty-card-bottom{
    height:20px;
}

.content {
    color: #565656;
    padding: 2.2em;
    align-items: center;
    height: 100%;
}

.name {
    text-transform: uppercase;
}

.button {

  border-radius: 20px;
  background-color: #6F8F72;
  border: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  padding: 20px;
  margin-bottom:20px;
  width: 100px;
  cursor: pointer;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*form*/

.form-container {
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 2em;
  background-color: #479a84;
  padding: 20px;
}

input[type=text], select, textarea {
    background-color: #e7f6f6;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #94d4d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #47704b;
}


/* mobile functionality */

@media only screen and (max-width: 620px) {
  /* For mobile phones: */

  .top-img-right{
      display:none
  }

  .grid-home {
        display: grid;
        row-gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        "header header header header header header"
            "text text text text text text"
            "card1 card1 card1 card1 card1 card1"
            "card2 card2 card2 card2 card2 card2"
            "card3 card3 card3 card3 card3 card3"
            "footer footer footer footer footer footer";
      }

      .container{
          align-self:center;
          justify-self:center;
      }

      .card-text{
          margin-bottom:1.5rem;
      }

      .empty-card-bottom{
          height:2rem;
      }
}


/* hamburger */

*, *:before, *:after
{ box-sizing: border-box; }

body {
  overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #94d6d5;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;

}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: black;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu  {
  box-shadow: 0 0 0 100vw #94d6d5, 0 0 0 200vh #94d6d5;
  border-radius: 0;

}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;

}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;

}

label input:checked + .menu + ul { opacity: 1; display: block; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  display: none;
}

label a {
  margin-bottom: 1em;
  color: black;
  text-decoration: none;

}

.menu-item {
    list-style: none;
    margin: 1rem;
    padding:1rem;
    font-size: 3rem;
    font-weight: 600;
}
